<div id="<%= dom_id pcart %>">
  <p>
    <strong>User:</strong>
    <%= pcart.user_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= pcart.product_id %>
  </p>

  <p>
    <%# <strong>Quantity:</strong> %>
    <%#= pcart.quantity %>
  </p>

</div>
