<%= form_with model: [@product, @product.productimage.build] do |form| %>
 <%#= form_with model: [@product, @productimage] do |form| %> 

  <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.file_field :image %>
  </div>

  <div>
    <%#= form.label :product_id, style: "display: block" %>
    <%#= form.collection_select :product_id, Product.all, :id, :name %>
  </div>

  <div>
    <%= form.submit "Save" %>
  </div>
<% end %>

